.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.explore-menu h1 {
    color: #1d1c1c;
    font-size: max(2.4vw, 20px);
    font-weight: 600;
}

.explore-menu-text {
    max-width: 60%;
    color: #808080;

}

.explore-menu-list {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;

}

.explore-menu-list::-webkit-scrollbar {
    /*remove scrollbar */
    display: none;
}

.explore-menu-list-item img {
    width: 7.2vw;
    min-width: 75px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;
}

.explore-menu-list-item img:hover {
    scale: 1.01;
}

.explore-menu-list-item p {

    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    /*this way i make shure never the text be smaller than 16px */
    cursor: pointer;

}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #cfcfcf;
    border: none;

}

.explore-menu-list-item .active {
    border: 3px solid tomato;
    border-radius: 50%;
    padding: 2px;
}